<section id="feature_slider" class="lol">
  <article id="ideas" class="slide index-slide scene1">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene6.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene2">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene3.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene3">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene2.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene4">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene7.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene5">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene5.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene6">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene4.jpg"/>
    <div class="info">
    </div>
  </article>
  <article id="ideas" class="slide index-slide scene7">
    <img class="asset left sp t z index-scene" src="/assets/organization/slides/scene1.jpg"/>
    <div class="info">
    </div>
  </article>
</section>
<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3><%= t 'application.title' %></h3>
    </div>            
    <div class="row feature_wrapper">
      <div class="features_op1_row">
        <div class="col-lg-12 feature first">
          <div class="text">
            <h6></h6>
            <p><%= t "index.slides.scene" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "lib/index-slider" %>
<%= javascript_include_tag "js/home" %>