body {
	padding-top: 0px;
	.navbar {
		margin-bottom: 0;
	}
	.upper-case {
		text-transform:uppercase;
	}
	.steps {
		display: none;
	}
	/*.row.form {
		.three-column-checkboxes {
			input[type="checkbox"] {
				margin-top: 0px;
			}
			label {
				margin-bottom: 0px;
				padding-left: 10px;
			}
		}
	}*/
	.marginless {
		margin-bottom: 0px;
	}
	.input-label {
		padding-top: 7px;
		font-weight: normal;
	}
	.text-justified {
		text-align: justify;
	}
	/* OVERRIDES */
	#contact {
		.form {
			margin-bottom: 20px;
			.box {
				input[type="text"].spaceless {
					padding-left: 0px;
				}
			}
		}
		.marginless {
			margin-bottom: 0px;
		}
	}
	#portfolio {
		margin-top: 0px;
	}
}