body {
	padding-top: 0px;
	.navbar {
		margin-bottom: 0;
	}
	.upper-case {
		text-transform:uppercase;
	}
	.steps {
		display: none;
	}
	.marginless {
		margin-bottom: 0px;
	}
	.input-label {
		padding-top: 7px;
		font-weight: normal;
	}
	.text-justified {
		text-align: justify;
	}
	.text-centered {
		text-align: center;
	}
	.index-slide {
		background-repeat: repeat-x;
		background-position: top center;
	}
	.index-scene {
		width: 850px;
	}
	@media (max-width: 1200px) {
		.index-scene {
			width: 600px;
		}
	}
	.scene1 {
		background: url("/assets/backgrounds/landscape.png");
	}
	.scene2 {
		background: url("/assets/backgrounds/aqua.jpg");
	}
	.scene3 {
		background: url("/assets/backgrounds/color-splash.jpg");
	}
	.scene4 {
		background: url("/assets/backgrounds/indigo.jpg");
	}
	.scene5 {
		background: url("/assets/backgrounds/ocean.jpg");
	}
	.scene6 {
		background: url("/assets/backgrounds/deep-green.jpg");
	}
	.scene7 {
		background: url("/assets/backgrounds/water.jpg");
	}
	/* OVERRIDES */
	#contact {
		.form {
			margin-bottom: 20px;
			.box {
				input[type="text"].spaceless {
					padding-left: 0px;
				}
				.paddigless {
					padding-left: 0px;
				}
			}
		}
		.marginless {
			margin-bottom: 0px;
		}
	}
	#portfolio {
		margin-top: 0px;
	}
	@media (min-width: 1200px) {
		.navbar-static-top {
			.container {
				width: 1140px;
				.navbar-header {
					.navbar-brand {
						padding-top: 0px;
						padding-bottom: 0px;
						small {
							display: block;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	@media (max-width: 1200px) {
		.navbar-static-top {
			.container {
				.navbar-header {
					.navbar-brand {
						small {
							display: none;
						}
					}
				}
			}
		}
	}
}